@tailwind base;
@tailwind components;
@tailwind utilities;

.photo-container {
    flex-basis: calc(100% / var(--photo-grid, 4) - 4px);
}

.photo-container:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
